# Dependencies
/node_modules
/.pnpm
pnpm-lock.yaml

# Next.js build output
/.next/
/out/

# Production
/build

# Local Environment Variables
.env
.env.local

# Misc
.DS_Store
*.pem

# Unwanted public assets
public/1.jpg
public/favicon 2.ico/
public/favicon.ico.zip
